/* Master Styles */
body {
    /* background-color: #b7ceff; */
}

.my {
    background-color: yellow;
}

.imgLogo {
    width: auto; /* Don't scale the image */
}

.gridFieldSingle > div > div > div > input {
    font-size: 200%;
    font-weight: bold;
    height: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
    /* background-color: #8ac7eb; */
}